main {
    /* position: absolute; */
    /* background-color: rgb(186, 186, 54); */
    background-color: rgba(0, 0, 0, 0.805);
    /* height: 100%; */
    /* margin-top: 84px; */
    /* top: 12%; */
    /* padding-top: 83px; */
}

.float1 {
    position: fixed;
    bottom: 5%;
    left: 7%;

    background-color: rgba(255, 255, 255, 0.504);
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.float2 {
    position: fixed;
    top: 5%;
    right: 10%;

    background-color: rgba(255, 255, 255, 0.504);
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.float3 {
    position: fixed;
    bottom: 5%;
    right: 15%;

    background-color: rgba(255, 255, 255, 0.504);
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

main > #welcome_id {
    /* background-color: rgba(40, 40, 49, 0.8); */
    background-color: rgb(17 24 39 / 0.8);
    backdrop-filter: blur(65px);
    height: 100vh;

    box-sizing: border-box;
    padding-top: 130px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    overflow: hidden;
}

#welcome_id > .welcome_title {
    background-color: rgb(122, 122, 233);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 20px;

    z-index: 1;
}

#welcome_id > h1 {
    text-align: center;
    font-size: 70px;
    margin: 5px 0px;
    z-index: 1;
}

#welcome_id > .welcome_paragraph {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    z-index: 1;
}

#welcome_id > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 1;
}

#welcome_id > .resume {
    height: 40px;
    width: 200px;
    background-color: rgb(78, 96, 163);
    border-radius: 10px;
    color: white;
    
    transition: 0.2s;
    
    margin-top: 20px;
    box-shadow: 0 0 20px rgb(78, 96, 163);
}

#welcome_id > .resume:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgb(78, 96, 163);
    border-radius: 10px;
    color: white;
}

#welcome_id > .arrow_down {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 40px;
    
    color: white;
    background-color: rgb(78, 96, 163);
    box-shadow: 0 0 20px rgb(78, 96, 163);
    
    transition: 0.2s;
    animation: up-down 1s ease-in-out infinite alternate;
}    

#welcome_id > .arrow_down:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgb(78, 96, 163);
}    

#welcome_id > div {

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(45, 59, 90, 0.308);
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(132, 145, 174);

    height: 100px;
    width: 100px;
    
    position: absolute;
    z-index: 0;
}

.S, .M, .L, .XL, .XXL {
    animation: up-down 1s infinite alternate;
}

@keyframes up-down {
    to {
        transform: translateY(1px);
    }
    
}

#welcome_id > .sun {
    height: 100vh;
    width: 100vw;
    
    background-color: rgba(255, 255, 0, 0.508);
    box-shadow: 0 70px 700px yellow;

    right: 0%;
    top: -90%;
}

#welcome_id > .XS {
    height: 2px;
    width: 2px;

    background-color: white;
    box-shadow: 0 0 200px white;
    left: var(--random-left);
    top: var(--random-top);
    z-index: 0;
    /* left: 75%;
    top: 15%; */
    
}    

#welcome_id > .S {
    height: 50px;
    width: 50px;

    left: 75%;
    top: 15%;
    
}    

#welcome_id > .M {
    height: 100px;
    width: 100px;

    left: 25%;
    top: 15%;
    
}    

#welcome_id > .L {
    height: 170px;
    width: 170px;
    
    right: 45%;
    top: 30%;
    
}

#welcome_id > .XL {
    height: 270px;
    width: 270px;
    
    left: 2%;
    top: 45%;
}    

#welcome_id > .XXL {
    height: 400px;
    width: 400px;
    
    right: 5%;
    top: 45%;
}    

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
